* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  height: 64px;
  border-radius: 5px;
  border: 0;
  background: #fd6e0a;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  padding: 18px 35px;
}
.header {
  background: #fff8f3;
  background-image: url(images/header_bg.png), url(images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, left;
}
section {
  margin-top: 130px;
}
/* Header and Navigations Styles */
nav {
  display: flex;
  justify-content: space-between;
  margin: 50px 225px;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-left: 50px;
}
/* banner styles */
.banner {
  margin: 0 225px;
  display: flex;
  align-items: center;
}
.banner-sub-title {
  font-weight: 600;
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title {
  font-weight: 700;
  font-size: 85px;
  color: #181818;
  margin-bottom: 20px;
}
.banner-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #757575;
  margin-bottom: 30px;
}
/* main section */
main {
  max-width: 1140px;
  margin: 0 auto;
}
/* about me section */
.about-me {
  background: #fff8f3;
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.section-title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.section-description {
  color: #757575;
  font-size: 18px;
  margin-bottom: 30px;
}
.about-info-container {
  display: flex;
  justify-content: space-between;
}
.about-info {
  font-weight: 400;
  font-size: 20px;
}
.info-name {
  color: #757575;
}
.info-description {
  font-weight: 700;
  font-size: 20px;
  color: #474747;
}

/* what i do styles */

.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  background: #ffffff;
  box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  padding: 30px;
}

.skill-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  color: #181818;
  margin-top: 30px;
  margin-bottom: 20px;
}
.skill-description {
  color: #757575;
}

/* education & experience */
.education-experience-title {
  font-weight: 700;
  font-size: 30px;
  margin-top: 115px;
  margin-bottom: 30px;
}
.education-experience{
  display: flex;
  gap: 24px;
}
.education-experience hr {
  color: #D1D1D1;

}
.edu-details {
  margin-bottom: 30px;
}
.e-title {
  font-size: 25px;
  line-height: 34px;
  margin-bottom: 10px;
}
.e-sub-title {
  font-weight: 600;
font-size: 20px;
color: #757575;
margin-bottom: 20px;
}
.e-description{
  color: #757575;
  margin-bottom: 30px;

}
.btn {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 115px;
}
